// seletor{
// propriedade:valor;
// }

// primeira coisa a fazer no arquivo de style é o reset 
*{
 margin: 0; //espaço de fora da tag
padding: 0; // espaço de dentro da tag
box-sizing: border-box; //é utilizada para alterar o cálculo da largura e altura
}

body{
    background-color: rgb(86, 0, 0); //cor de fundo
}

img{
        width: 300px; //largura
        border-radius: 20px; //
}

h1{
        //font family 
        font-family:sans-serif;
        color: rgb(255, 0, 0);
        //red, green, blue, 0 a 255
    
}
//no index.html nos vamos nomear  a tag class=
// para chamar uma class aqui no style precisamos usar o ".nomeDaClass"
.tituloMusicas{ 
        //propriedade:valor;
        color: red;
}
ol{
        //COR HEXADECIMAL 
        // SEGUIDA DE 3 PARES, CADA PAR É REFERENTE AO RGB, 00, ff
       // background-color: #30110d;
background-color: rgba(165, 42, 42, 0.372);
color: white;
}